.project-card {
    /* position: relative; */
    display: flex;
    box-sizing: border-box;
    height: auto;
    justify-content: space-between;
    /* width: 30%; */
    /* background-color: #17252a; */
    margin: 0 20px;
    margin-bottom: 100px;
    transition: 1s ease-in;
}

.project-img img {
    max-width: 100%;
    max-height: 100%;
    /* opacity: 0.6; */
    object-fit:fill;
    height: 25em;
    width: 500px;
    border-radius: 7px;
}

.project-img {
    position: relative;
    transition: 0.5s ease;
    height: inherit;
}

.project-img::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    right: 30px;
    bottom: -30px;
    border-radius: 7px;
    border: 10px solid #3aafa9; 
    z-index: -1;
  }

.project-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3aafa9;
    transition: 1s visibility ease-in;
    /* text-align: center; */
    cursor: default;
    width: 40%;
}

.project-heading p {
    margin-bottom: 30px;
    color: #def2f1;

}

.button-container {
    display: flex;
}

.button-container span {
    color: #def2f1;
}

.github-button {
    display: block;
    color: #def2f1;
    width:fit-content;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}

.github-button:hover {
    /* transform: scale(1.05); */
    font-weight: 500;
    color: #f0f0f0;
}

.github-button::after {
    margin-top: 5px;
    display:block;
    content: '';
    border-bottom: solid 3px #def2f1;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.github-button:hover::after {
    transform: scaleX(1);
}

/* .project-card:hover .project-img{
    opacity: 0.15;
} */